.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gray-700);
    padding: 4.5rem 0rem 5rem;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--gray-600);
    height: 100vh;
    position: relative;
}

.wrapperMain {
    width: 44rem;
    position: absolute;
    top: -1.563rem;
}

.wraperTaskInput {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.5rem;
}

.taskInputCreated,
.taskInputDone {
    font-size: var(--font-size-100);
}

.taskInputCreated {
    color: var(--blue-300);
}

.taskInputDone {
    color: var(--purple-300);
}

.taskBoardDoIt {
    line-height: 22px;
    font-size: var(--font-size-200);
    text-align: center;
}


/* MOBILE */
@media (max-width: 768px) {
    .wrapperMain {
        width: 100%;
        padding: 12px;
        max-width: 44rem;
    }
}